body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 30px;
    line-height: 60px;
  
}

.menu{
    float: left;
}

.menu li{
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 36px;
    text-transform: uppercase;
}
.menu li a{
    text-decoration: none;
    
}

.menu li a:visited{
    color: white;
}

.main{
    width: 100%;
    height: 100vh;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;

}
.title_conteiner{
	float: left;
	margin: 332px 0px 0px 304px;
	color: #2c384a;
	text-align: center;
	-webkit- animation: titlemove 1s ease forwards;
    -o- animation: titlemove 1s ease forwards;
	animation: titlemove 1s ease forwards;
	-webkit- animation-delay: 2.4s;
    -o- animation-delay: 2.4s;
	animation-delay: 2.4s;
	opacity: 0;
}

.title_conteiner h1{
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

.title_conteiner h4{
	margin-top: 40px;
	font-size: 24px;
	color: #79818d;
}

.title_conteiner input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
	font-size: 16px;
	padding: 0px 16px;
	margin: 50px 14px 0px 14px;
}

.title_conteiner input{
	transition: all 0.2s;
	transform: scale(1);
}

.title_conteiner input:hover{  
	background: #344051;
	color: #f98f02;
}

.title_conteiner input:active{
	transform: scale(1.1);
}
.about_me {
	width: 734px;
	margin: 10px auto;
}

.about_me_conteiner h2{
	padding-top: 30px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 22px;
	color: #344051;
}

.about_me_conteiner h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.about_me_conteiner img{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 180px;
	border-radius: 50%;
	margin-bottom: 30px;
}

.about_me_conteiner p{
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 20px;
	padding-top: 25px;
}

.about_me_conteiner a{
	 display: block;
    width: 162px;
    height: 33px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 30px;
    margin: 40px auto 0;
    font-size: 16px;
    background: url(../img/input.png) 6%/auto no-repeat;
    padding-left: 18px;
    color: black;
    text-decoration: none;}

.skills{
	margin-top: 40px;
	background: url(../img/can.jpg) center/cover fixed no-repeat;
	height: 4s74px;
	padding-bottom: 40px;
}
.skills_conteiner{
	width: 840px;
	margin: 0 auto;
}

.skills_conteiner h2{
	margin-top: 50px;
	padding-top: 40px;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	margin: 10px auto;
	-webkit- animation: coming 2s ease;
    -o- animation: coming 2s ease;
	animation: coming 2s ease;
}

.skills_conteiner h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.skills_item {
	margin-top: 20px;
	float: left;
	width: 215px;
	text-align: center;
	-webkit- animation: skillmove 2s forwards;
    -o- animation: skillmove 2s forwards;
	animation: skillmove 2s forwards;
	opacity: 0;
}

.skills_item:nth-child(1){
	animation-delay: 0.4s;
}
.skills_item:nth-child(2){
	animation-delay: 0.8s;
}
.skills_item:nth-child(3){
	animation-delay: 1.2s;
}
.skills_item:nth-child(4){
	animation-delay: 1.6s;
}

.skills_item img{
    margin-bottom: 20px;
    height: 40px;
}

.skills_item h3{
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}
.skills_item p{
    font-size: 16px;
}

.clear{
	clear: left;
}


.keys_conteiner{
	margin-top: 30px;
}

.keys_item{
	margin: 0 auto;
	width: 1170px;
}

.keys_item_h h2{
	color: #344051;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.keys_item_h h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.keys_item_h p{
	margin-top: 20px;
	margin-left: 400px;
}

.keys_item_h img{
	margin-top: 20px;
	margin-left: 190px;
}

.keys_item_c{
	float: left;
	margin-left: 200px;
}

.keys_item_c h3{
	margin-top: 30px;
	font-weight: bold;
}

.keys_item_c p{
	margin-top: 10px;
}

.keys_item_c input{
	display: block;
	padding: 10px;
	padding-left: 29px;
	border-radius: 8px;
	padding: 15px 15px;
	margin-top: 25px;
	color: #fff;
	background: #63b5ae;
}

.keys_item_c input:hover{
	background: #344051;
	color: #f98f02;
}

.keys_item_c input:active{
	transform: scale(1.1);
}

.keys_item_d{
	float: left;
	display: block;
	margin-top: 30px;
	margin-left: 145px;
	width: 800px;
}

.keys_item_d h3{
	font-weight: bold;

}

.keys_item_d p{
	padding-top: 10px;
}

.clear{
	clear: left;
}



.cash_conteiner{
	margin-top: 60px;
	padding-bottom: 40px;
	margin-bottom: 70px;
}

.cash_item_h h2{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	color: #344051;
}

.cash_item_h h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.cash_item_d h3{
	margin-left: 350px;
	font-weight: bold;
	margin-top: 40px;
	padding-bottom: 10px;
}


.cash_item_d select{
	margin-left: 350px;
	width: 800px;;
	padding: 16px;
	background: #eeeeee;
}


.clear{
	clear: left;
}



.statistic{
	height: 390px;
	padding-top: 25px;
	background: url(../img/key.jpg) center/cover fixed no-repeat;
}

.statistic_conteiner h2{
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	color: #344051;
}

.statistic_conteiner h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.statistic_item {
	margin-top: 50px;
	float: left;
	width: 174px;
	text-align: center;
	padding: 30px;
}

.statistic_item img{
	margin: 15px;
}
.statistic_item h3{
	font-size: 22px;
	font-weight: bold;
	color: #344051;
}

.statistic_item p{
	margin: 15px;
}

.statistic_item_newclass{
	margin-left: 410px;
}

.clear{
	clear: left;
}


.reviev{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 40px;
}

.reviev h2{
	color: #344051;
	font-size: 20px;
	font-weight: bold;
}

.reviev h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.reviev img{
	margin-top: 20px;
	width: 180px;
	border-radius: 50%;
	margin-bottom: 30px;
}

.reviev p{
	margin-top: 20px;
}


/****/
.mycontact{
	height: 650px;
	padding-top: 10px;
	background: url(../img/contact.jpg) center/cover no-repeat;
}

.mycont_conteiner{
	width: 810px;
	text-align: center;
}

.mycontact_item_h h2{
	margin-top: 30px;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.mycontact_item_h h2::after{
	content: "";
	display: block;
	padding-top: 30px;
	border-bottom: 5px solid #d17700;
	margin: 0 auto;
	height: 15px;
	width: 60px;
	transition: scaleX(0);
}

.mycontact_item_h p{
	color: #fff;
	margin-top: 25px;
	text-align: center;
}

.adress_item {
	margin-top: 5px;
	float: left;
	width: 174px;
	text-align: center;
	padding: 25px;
}

.adress_item img{
	margin: 25px;
}

.adress_item p{
	color: #fff;
	margin: 2px;
}

.new_adress_item{
	margin-left: 500px;
}

.clear{
	clear: left;
}

.message_conteiner{
	margin-left: 470px;
}

.field1{
	width: 250px;
	margin-left: 30px;
	padding: 10px;
}

.field2{
	width: 250px;
	margin-left: 30px;
	padding: 10px;
}

.field3{
	margin-left: 30px;
	width: 533px;
	margin-top: 15px;
	padding: 10px;
	padding-bottom: 80px;
	overflow: scroll;
}


.button{
	margin-top: 20px;
	margin-left: 245px;
	display: block;
	border-radius: 8px;
	padding: 15px 15px;
	background: rgba(255, 14, 172, 0);
	color: #fff;
	border: 2px solid #fff;
}

@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top: -80px;
	}

	to{
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -500px;
	}

	to{
		opacity: 1;
		margin-left: 290px;
	}
}

@keyframes skillmove{
	form{
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}

@media (max-width: 991px){
    .title_container, .title_container h4, .title_container input{
        color: white;
    }
    .main{
        position: relative;
    }
    .main:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
        z-index: 1;
    }
    .title_container{
        position: relative;
        z-index: 2;
    }
}